.row{
    margin:auto;
}

.section-heading {
    padding: 25px;
    text-align: center;
    background-color: transparent;
}

.navbar-container {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.social-links {
    margin: auto;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background-color: #8f8f8f;
}

.landing {
    background-image: url("../images/monkees.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-container {
    background-color: #fafafa;
    padding:15px;
}

/*.video-player {
    display: block;
    margin: auto;
    text-align: center;
}*/


.gallery-container {
    background-color: #fd6e6e;
    padding:15px;
}

.col-sm-3 {
    text-align: center;
}

.audio-container {
    background-color: #fafafa;
    padding:15px;
}

.col-sm-4 {
    text-align: center;
}

.contact-container {
    background-color: #fd6e6e;
    padding:15px;
}
