
.landing {
    background-image: url("../images/monkees.jpg"); 
    height: 100vh;
    width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

