.row{
    margin:auto;
}

.section-heading {
    padding: 25px;
    text-align: center;
    background-color: transparent;
}

.navbar-container {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar {
    justify-content:initial;
}

.navbar-brand {
    margin-right: 0;
}

.social-links {
    margin:auto 0;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background-color: #8f8f8f;
}

.dropdown {
    margin: auto;
    margin-right:15px;
}

.dropdown-menu {
    min-width:4rem;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu-right li {
    text-align: right;
}

.landing {
    padding:0;
    background-image: url("../images/monkees.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-container {
    background-color: #fafafa;
    padding:15px;
}

.gallery-container {
    background-color: #fd6e6e;
    padding:15px;
}

.col-sm-3 {
    text-align: center;
}

.audio-container {
    background-color: #fafafa;
    padding:15px;
}

.col-lg-4 {
    text-align: center;
}

.contact-container {
    background-color: #fd6e6e;
    padding:15px;
}
